    .search-bar {
                flex: 1;
                height: 48px;
                padding-left: 12px;
                font-size: 16px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(192, 192, 192);
                border-radius: 2px;
                box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
                width: 0;
                
    }

    .header {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position :fixed;
        top: 0;
        left: 0;
        right: 0;

        background-color: white;
        
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(192, 192, 192);
        z-index: 1000;
    }


    .left-row {
        align-items: center;
        display: flex;
    }

    .three-lines {
        height: 30px;
        margin-left: 24px;
        margin-right: 24px;
    }


    .youtube-logo {
        height: 30px;
    }   

    .center-row {
        flex: 1;
        max-width: 600px;
        margin-left: 40px;
        margin-right: 35px;
        display: flex;
        align-items: center;
        
    }
    

    .search-button {
        height: 48px;
        width: 66px;
        background-color: rgb(255, 255, 250);
        border-style: solid;
        border-width: 1px;
        border-color:rgb(192, 192, 192);
        margin-left: -1px;
        margin-right: 10px;
        position: relative;
    }

    .search-icons {
        height: 25px;
        
        
    }

    .voice-button {
        height: 47px;
        width: 47px;
        border-radius: 22px;
        border: none;
        background-color: rgb(255, 255, 250);
        margin-right: 20px;
    }

    .voice-icons {
        height: 24px;

    }
    .right-row {
       
        width: 350px;
        display: flex;
        align-items: center; 
        justify-content: space-between;
        flex-shrink: 0;
    }


    .search-bar::placeholder {
        font-family: roboto, Arial;
        font-size: 20px;
        
    }
    

    .upload {
        height: 30px;
    }

    .nahi {
        height: 30px;
    }

    .notification {
        height: 30px;
    }

    .notification-row {
        position: relative;
    }

    .notification-count {
        position:absolute;
        top: -2px;
        right: -5px;
        background-color: rgb(200, 0, 0 );
        color: white;
        font-family: roboto , Arial;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 10px;
    }

    .profile {
        height: 50px;
        margin-right: 24px;
        margin-left: -24px;
      
    }

    .search-button,
    .voice-button,
    .upload-icon,
    .nahi-pata,
    .notification-row
     {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

       .search-button .tooltip, 
       .voice-button .tooltip,
       .upload-icon .tooltip,
       .nahi-pata .tooltip,
       .notification-row .tooltip,
       .Profile-Pic .tooltip {
        font-family: Roboto, Arial;
        position:absolute;
        background-color: gray;
        color: white;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 2px;
        font-size: 14px;
        bottom: -30px;
        opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
        white-space: nowrap;
    }

    .search-button:hover .tooltip,
    .voice-button:hover .tooltip,
    .upload-icon:hover .tooltip,
    .nahi-pata:hover .tooltip,
    .notification-row:hover .tooltip,
    .Profile-Pic:hover .tooltip {
        opacity: 1;
    }

    .Profile-Pic {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }


    
      